{{!-- layout base que recebe o head e o cabeçalho --}}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Tabalho de Topicos</title>
</head>

<body>
    <div class="container-fluid">
        <div class="container">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Alunos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/disciplinas">Disciplinas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lista_matricula">Alunos Matriculados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cadastro">Matricular Aluno</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cadastro_materia">Cadastro Materia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/matricular">Matricular em uma Disciplina</a>
                </li>
            </ul>
            {{{body}}}
        </div>
    </div>
</body>

</html>